<center>
    <div id="icons" class="container">
        <i class="fa fa-twitter fa-2x"></i>
        <i class="fa fa-facebook-official fa-2x"></i>
        <i class="fa fa-instagram fa-2x"></i>
        <i class="fa fa-youtube-play fa-2x"></i>
        <i class="fa fa-vimeo fa-2x"></i>
        <i class="fa fa-amazon fa-2x"></i>
        <i class="fa fa-apple fa-2x"></i>
        <i class="fa fa-soundcloud fa-2x"></i>
        <span id="i"><%= image_tag("music.png", size: "28x28", alt: "Edit Entry") %></span>
        <i class="fa fa-spotify fa-2x"></i>
    </div>   
    <div id="audiotheme">
        <p>OBSIDIAN MUSIC THEME BY AUDIOTHEME.</p>
    </div>
</center>